<div class="featured-categories-container dv-container">
    <div class="dvmodule-title"><h2>{{ title }}</h2></div>
    <div class="dv-content">
        {% if type == "category" %}
            {% if use_slider %}
                <div class="swiper-viewport">
                    <div class="featured-categories-content swiper-container">
                        <div class="swiper-wrapper">
                            {% for category in categories %}
                                <div class="swiper-slide category-content">
                                    {% if use_second_img %}
                                        <img src="{{ category.secondary_image }}" alt="{{ category.name }}" />
                                    {% endif %}
                                    <h4 class="name"><a href="{{ category.href }}">{{ category.name }}</a></h4>
                                    {% if show_cate_des and category.description %}
                                        <p class="category-description">{{ category.description }}</p>
                                    {% endif %}
                                    {% if show_child %}
                                        {% if category.children %}
                                            {% set child_count = 0 %}
                                            <ul class="child-featured-categories">
                                                {% for childcate in category.children %}
                                                    {% if child_count < child_number %}
                                                        <li><a href="{{ childcate.href }}">{{ childcate.name }}</a></li>
                                                    {% endif %}
                                                    {% set child_count = child_count + 1 %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if slide_settings.shownav %}
                        <div class="swiper-pagination fcategory-pagination"></div>
                    {% endif %}

                    {% if slide_settings.shownextback %}
                        <div class="swiper-pager">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    {% endif %}
                </div>

                <script>
                    $(document).ready(function() {
                        $(".featured-categories-content").swiper({
                            spaceBetween: 20,
                            {% if slide_settings.shownav %}
                            pagination: '.fcategory-pagination',
                            paginationClickable: true,
                            {% endif %}
                            {% if slide_settings.shownextback %}
                            nextButton: '.swiper-button-next',
                            prevButton: '.swiper-button-prev',
                            {% endif %}
                            speed: {% if slide_settings.speed %} {{ slide_settings.speed }} {% else %} 300 {% endif %},
                            slidesPerView: {{ slide_settings.items }},
                            slidesPerColumn: {{ slide_settings.rows }},
                            autoplay: {% if slide_settings.autoplay %} 3000 {% else %} false {% endif %},
                            loop: false
                        });
                    });
                </script>
            {% else %}
                <div class="featured-categories-content">
                    {% for category in categories %}
                        <div class="category-content">
                            {% if use_second_img %}
                                <img src="{{ category.secondary_image }}" alt="{{ category.name }}" />
                            {% endif %}
                            <h4 class="name"><a href="{{ category.href }}">{{ category.name }}</a></h4>
                            {% if show_cate_des and category.description %}
                                <p class="category-description">{{ category.description }}</p>
                            {% endif %}
                            {% if show_child %}
                                {% if category.children %}
                                    {% set child_count = 0 %}
                                    <ul class="child-featured-categories">
                                        {% for childcate in category.children %}
                                            {% if child_count < child_number %}
                                                <li><a href="{{ childcate.href }}">{{ childcate.name }}</a></li>
                                            {% endif %}
                                            {% set child_count = child_count + 1 %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if type == "product" %}
            <div class="featured-category-section">
                <ul class="nav nav-tabs">
                    {% for category in categories %}
                        <li>
                            <a href="javascript:void(0);" data-tab="#tab-category-{{ category.category_id }}">
                                {% if use_second_img %}
                                    <img src="{{ category.secondary_image }}" alt="{{ category.name }}" />
                                {% endif %}
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content featured-category-content">
                    {% for category in categories %}
                        <div class="tab-product" id="tab-category-{{ category.category_id }}">
                            <div class="swiper-viewport">
                                {% if category.products %}
                                    <div id="products-container-{{ category.category_id }}" class="products-container swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for product in category.products %}
                                                <div class="product-thumb transition swiper-slide">
                                                    <div class="image {% if product.rotate_image %}rotate-image-container{% endif %}">
                                                        <a href="{{ product.href }}">
                                                            {% if show_module_label %}
                                                                {% if product.special %}
                                                                    <span class="pro-label">{{ text_sale }}</span>
                                                                {% else %}
                                                                    {% if product.is_new %}
                                                                        <span class="pro-label">{{ text_new }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if product.rotate_image %}
                                                                <img src="{{ product.rotate_image }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive img-rotate-image" />
                                                            {% endif %}
                                                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                                        </a>
                                                        {% if show_module_quickview %}
                                                            <button type="button" title="{{ product.name }}" onclick="dvquickview.ajaxView('{{ product.href }}')"><i class="fa fa-search-plus"></i></button>
                                                        {% endif %}
                                                    </div>
                                                    <div class="caption">
                                                        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                                        {% if product.description %}
                                                            <p>{{ product.description }}</p>
                                                        {% endif %}

                                                        {% if product.rating %}
                                                            <div class="rating">
                                                                {% for i in 5 %}
                                                                    {% if product.rating < i %}
                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                    {% else %}
                                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}

                                                        {% if show_module_price and product.price %}
                                                            <p class="price">
                                                                {% if not product.special %}
                                                                    {{ product.price }}
                                                                {% else %}
                                                                    <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                                                                {% endif %}
                                                                {% if product.tax %}
                                                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="button-group">
                                                        {% if show_module_cart %}
                                                            <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                                        {% endif %}

                                                        {% if show_module_wishlist %}
                                                            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                                        {% endif %}

                                                        {% if show_module_compare %}
                                                            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if slide_settings.shownav %}
                                        <div class="swiper-pagination fcategory-product-pagination-{{ category.category_id }}"></div>
                                    {% endif %}

                                    {% if slide_settings.shownextback %}
                                        <div class="swiper-pager">
                                            <div class="swiper-button-next swiper-button-next-{{ category.category_id }}"></div>
                                            <div class="swiper-button-prev swiper-button-prev-{{ category.category_id }}"></div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <p class="txt-empty">{{ text_product_empty }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    {% for category in categories %}
                    $('#products-container-{{ category.category_id }}').swiper({
                        spaceBetween: 20,
                        {% if slide_settings.shownav %}
                        pagination: '.fcategory-product-pagination-{{ category.category_id }}',
                        paginationClickable: true,
                        {% endif %}
                        {% if slide_settings.shownextback %}
                        nextButton: '.swiper-button-next-{{ category.category_id }}',
                        prevButton: '.swiper-button-prev-{{ category.category_id }}',
                        {% endif %}
                        speed: {% if slide_settings.speed %} {{ slide_settings.speed }} {% else %} 300 {% endif %},
                        slidesPerView: {{ slide_settings.items }},
                        slidesPerColumn: {{ slide_settings.rows }},
                        autoplay: {% if slide_settings.autoplay %} 3000 {% else %} false {% endif %},
                        loop: false
                    });
                    {% endfor %}

                    $('.nav-tabs > li').first().addClass('active');
                    $('.tab-content > .tab-product').hide();
                    $('.tab-content > .tab-product').first().show();

                    $('.nav-tabs a').on('click', function () {
                        $('.nav-tabs > li').removeClass('active');
                        $(this).closest('li').addClass('active');

                        $('.tab-content > .tab-product').hide();
                        var tab = $(this).data('tab');
                        $(tab).show();
                    });
                });
            </script>
        {% endif %}
    </div>
</div>